# Local secret key store for environment(ENV) variables
# Remove the '.example' extension to use
# Uses gem 'dotenv-rails', see more here https://github.com/bkeepers/dotenv

KEY=YOURSECRETKEYGOESHERE
SECRET="something-kh345jh34kkn"
