<%
meta title: "Uber for Everything",
  description: "Request an invite to start Ubering everything sooner! Built with love by Brian Petro.",
  keywords: %w(Launch Uber Everything Template),
  og: {
    title: "Attn Facebook: Uber for Everything",
    description: "Request an invite via Facebook to start Ubering Everything!",
    type: "website",
    image: "",
    url: "http://#{ENV['PRODUCTION_DOMAIN']}"
  },
  twitter: {
    title: "Uber Everything with a Tweet!",
    description: "Request an invite via Twitter to start Ubering Everything!",
    card: "summary_large_image",
    site: "@brianpetro_",
    creator: "@brianpetro_"
  } 
%>
<div class="row">
  <div id="header" class="col-sm-12 text-center">
    <h1>
      Our Startup: Uber for Everything
    </h1>
    <h2>
      Seriously, Everything! It's Coming Sooner Than You Think.
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="jumbotron">
      <h3>
        Request an Invite
      </h3>
      <div class="alert alert-info" role="alert" style="display: none">
      </div>
      <div class="alert alert-danger" role="alert" style="display: none">
      </div>
      <%= render 'home/invite_form' %>
      <%= render 'home/share_links' %>
    </div>
  </div>
</div>
<div id="support" class="row">
  <div class="col-sm-offset-1 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <p>
        Lorem ipsum dolor sit amet, at mollis iracundia sea, eu diam inani dissentiunt nam. Eu delenit mandamus sit, vix esse dicta abhorreant ex, an atqui nullam vel.
        </p>
      </div>
    </div>
  </div>
</div>
